In [1]:
import pandas as pd
import numpy as np
import datetime
import time

In [2]:
#load dataset 
df = pd.read_parquet('train_mfti.parquet')

In [3]:
df.head()

,event_date,event_timestamp,vacancy_id_,cookie_id,user_id,event_type
0,2022-08-01,1659323026,129850,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
1,2022-08-01,1659377255,108347,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy
2,2022-08-01,1659376695,109069,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy
3,2022-08-01,1659376722,171425,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy
4,2022-08-01,1659374929,252384,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy

In [4]:
#сортируем датасет по столбцу 'cookie_id', а потом по 'event_timestamp'
sorted_df = df.sort_values(['cookie_id','event_timestamp'])
#добавляем столбец "action_time" и заполняем 0
sorted_df.insert(2, "action_time", 0)
#добавляем новые индексы
sorted_df = sorted_df.reset_index()
sorted_df.head(10)

,index,event_date,event_timestamp,action_time,vacancy_id_,cookie_id,user_id,event_type
0,4550690,2022-08-30,1661866548,0,153975,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,preview_click_vacancy
1,4653413,2022-08-30,1661866548,0,153975,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,show_vacancy
2,4650401,2022-08-30,1661866559,0,182445,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,show_vacancy
3,4693679,2022-08-30,1661866559,0,182445,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,preview_click_vacancy
4,4650417,2022-08-30,1661866564,0,182445,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,show_vacancy
5,4693678,2022-08-30,1661866564,0,182445,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,preview_click_vacancy
6,4510912,2022-08-30,1661866577,0,174953,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,preview_click_vacancy
7,4649889,2022-08-30,1661866577,0,174953,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,show_vacancy
8,11346982,2022-08-30,1661866594,0,174953,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,click_favorite
9,4511048,2022-08-30,1661866625,0,176171,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,preview_click_vacancy

In [5]:
#получаем разницу по времени между двумя событиями 
sorted_df['action_time'] = sorted_df['event_timestamp'].diff(periods=1)
sorted_df[0:25]

,index,event_date,event_timestamp,action_time,vacancy_id_,cookie_id,user_id,event_type
0,4550690,2022-08-30,1661866548,NaN,153975,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,preview_click_vacancy
1,4653413,2022-08-30,1661866548,0.0,153975,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,show_vacancy
2,4650401,2022-08-30,1661866559,11.0,182445,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,show_vacancy
3,4693679,2022-08-30,1661866559,0.0,182445,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,preview_click_vacancy
4,4650417,2022-08-30,1661866564,5.0,182445,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,show_vacancy
5,4693678,2022-08-30,1661866564,0.0,182445,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,preview_click_vacancy
6,4510912,2022-08-30,1661866577,13.0,174953,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,preview_click_vacancy
7,4649889,2022-08-30,1661866577,0.0,174953,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,show_vacancy
8,11346982,2022-08-30,1661866594,17.0,174953,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,click_favorite
9,4511048,2022-08-30,1661866625,31.0,176171,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,preview_click_vacancy
10,4652786,2022-08-30,1661866625,0.0,176171,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,show_vacancy
11,4557195,2022-08-30,1661866631,6.0,137659,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,show_vacancy
12,4567176,2022-08-30,1661866631,0.0,137659,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,preview_click_vacancy
13,4519485,2022-08-30,1661866649,18.0,187529,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,show_vacancy
14,4627080,2022-08-30,1661866649,0.0,187529,0000c4548c3944c08972bbdc1fa4eb85,2eb30fab80244cdebbafd5ed096bc08f,preview_click_vacancy
15,5777732,2022-09-05,1662374899,508250.0,192850,0000d7508334414ca792c5ff66eb8c14,None,preview_click_vacancy
16,5833143,2022-09-05,1662374899,0.0,192850,0000d7508334414ca792c5ff66eb8c14,None,show_vacancy
17,5830149,2022-09-05,1662375397,498.0,230581,0000d7508334414ca792c5ff66eb8c14,None,preview_click_vacancy
18,5779252,2022-09-05,1662375398,1.0,230581,0000d7508334414ca792c5ff66eb8c14,None,show_vacancy
19,5858529,2022-09-05,1662375603,205.0,250327,0000d7508334414ca792c5ff66eb8c14,None,preview_click_vacancy
20,5817230,2022-09-05,1662375604,1.0,250327,0000d7508334414ca792c5ff66eb8c14,None,show_vacancy
21,5911458,2022-09-05,1662376268,664.0,177451,0000d7508334414ca792c5ff66eb8c14,None,show_vacancy
22,5949785,2022-09-05,1662376268,0.0,177451,0000d7508334414ca792c5ff66eb8c14,None,preview_click_vacancy
23,5731536,2022-09-05,1662376689,421.0,108690,0000d7508334414ca792c5ff66eb8c14,None,show_vacancy
24,5848490,2022-09-05,1662376689,0.0,108690,0000d7508334414ca792c5ff66eb8c14,None,preview_click_vacancy

In [6]:
sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12292588 entries, 0 to 12292587
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   index            int64
 1   event_date       object
 2   event_timestamp  int64
 3   action_time      float64
 4   vacancy_id_      int64
 5   cookie_id        object
 6   user_id          object
 7   event_type       object
dtypes: float64(1), int64(3), object(4)
memory usage: 750.3+ MB

In [9]:

#столбец 'action_time' type преобразуем в int32
#sorted_df.astype({'action_time': 'int32'}).dtypes
sorted_df['action_time'] = pd.to_numeric(sorted_df['action_time'], errors='coerce').fillna(0).astype(int)

In [10]:
sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12292588 entries, 0 to 12292587
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   index            int64
 1   event_date       object
 2   event_timestamp  int64
 3   action_time      int32
 4   vacancy_id_      int64
 5   cookie_id        object
 6   user_id          object
 7   event_type       object
dtypes: int32(1), int64(3), object(4)
memory usage: 703.4+ MB

In [11]:
#отслеживаем смену cookie_id, чтобы обнулить значение между соседними cookie_id
for i, row in sorted_df.iterrows():
    if i == 0:
        sorted_df.iloc[[i], [3]] = 0
    elif sorted_df.iloc[i].cookie_id != sorted_df.iloc[i-1].cookie_id:
        sorted_df.iloc[[i], [3]] = 0